body {
  width: 100vw;
  height: 100vh;
  background-image: url(/image/med.jpg);
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
}

h1 {
  color:black;
  font-weight: bolder;
  font-size:  3em;
  text-align: center;
  margin-top: 1%;
  font-style: italic;

}
.message {
  color: blue;
  text-align: center;
  font-weight:bolder;
  font-size: 2em;
  margin-top: 1%;
  font-style: italic;
  
}
.navbar{
  color: black;
  padding: 10px 0;
}
.container{
  display: flex;
  justify-content: space-between;
  
}